.head{
    padding: 50px 0;
    &__wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__image{
        margin-bottom: 40px;
        width: 100%;
        height: auto;
    }
  
    &__link{
        display: block;
        width: 210px;
        margin: 0 auto;
        padding: 15px 0;
        border-radius: 20px;
       
    }
}
@media (min-width: 576px) {
    .head{
        // padding: 60px 0;
        &__link{
            width: 316px;
            padding: 18px 0;
            border-radius: 50px;
            font-size: 20px;
        }
    } 
}


@media (min-width: 768px) {
    .head{
        &__image{
            margin-bottom: 60px;
        }
    } 
}

@media (min-width: 992px) {
    .head{


        &__link{
            width: 380px;
            padding: 21px 0;
        }
        
         
    } 
}

@media (min-width: 1200px) {
    .head{
        &__image{
            margin: 0 auto;
            width: 680px;
            height: 420px;
            
        }
        &__link{
            width: 280px;
            padding: 21px 0;
        }
        
    } 
}







